*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.container{
    width: 80%;
    margin: auto;
    
}

/* titolo */

header{
    text-align: center;
    width: 80%;
    margin: auto;
    
}
header h1{
    color: palevioletred;
    font-size: 37px;
    margin: 30px;
    margin-top: 20px;
}
header p{
    padding: 17px;
}

/* main */

section div img{
    width: 80px;
    height: 80px;
}

