*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.container {
    width: 80%;
    margin: auto;

}


/* titolo */

header{
    text-align: center;
   
    
}
header h1{
    color: palevioletred;
    font-size: 40px;
    margin: 30px;
    margin-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
header p{
    padding: 17px;
}

/* main */

.box{
    margin: 40px 20px 0px 20px;
    float: left;
    background-color: black;
    color: white;
    width: calc(100% / 3 - 40px);
   
}
.img{
    float: left;

}

.info{
    float: left;
    width: 40%;
    
    font-size: 12px;
   

}
.mail{
    color:deepskyblue;
}




